Repository hmcts/hmc-hmi-inbound-adapter, pull requests merged in 2022-03, with the labels that each got.

#32 Fix Swagger not picking up any endpoints
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/SwaggerPublisherTest.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/SwaggerConfiguration.java
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-32

#33 Initial APIM setup
  infrastructure/apim.tf
  infrastructure/main.tf
  infrastructure/template/api-policy.xml
  infrastructure/variables.tf
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-33

#37 HMAN-123
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/WiremockFixtures.java
  src/main/java/uk/gov/hmcts/reform/hmc/ApplicationParams.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/Hearing.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingAttendee.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingCaseStatus.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingChannel.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingCode.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingJoh.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingRoom.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingStatus.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingVenue.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/ListingStatus.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/MetaResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/VenueLocationReference.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/MessageSenderConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/ApplicationParamsTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-37

#38 Add CFT Hearing Service template URL to charts
  charts/hmc-hmi-inbound-adapter/Chart.yaml
  charts/hmc-hmi-inbound-adapter/values.yaml
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-38

#34 HMAN-122 add jms headers HMAN-123 update request model
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/WiremockFixtures.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/MessageSenderConfigurationIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HmcInboundControllerIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/ApplicationParams.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/Hearing.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingAttendee.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingCaseStatus.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingChannel.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingCode.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingJoh.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingRoom.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingStatus.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingVenue.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/ListingStatus.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/MetaResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/VenueLocationReference.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/MessageSenderConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/MessageType.java
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/ApplicationParamsTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/HearingManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-34
