Repository hmcts/hmc-hmi-inbound-adapter, pull requests merged in 2022-11, with the labels that each got.

#110 HMAN-454 CVE-2022-31690, CVE-2022-31690 HMAN-455 CVE-2022-42252 Suppr…
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-110

#114 HMAN-476-CVE-2022-41854-Suppression
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-114

#96 HMAN-348
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/hmc/config/MessageSenderConfiguration.java
  src/main/resources/application.yaml
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-96

#108 HMAN-433 fix for CVE-2022-38752 - update snakeyaml to version 1.32
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-108

#113 HMAN-455,HMAN-454: Tomcat and Spring Security
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/hmc/config/SecurityConfiguration.java
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-113

#112 HMAN-428
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HmcInboundControllerIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingStatus.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingStatusCode.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/HearingStatusCodeEnumPattern.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/HearingStatusCodeEnumPatternValidator.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
  src/test/java/uk/gov/hmcts/reform/hmc/validator/HearingCodeEnumPatternValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/validator/HearingStatusCodeEnumPatternValidatorTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-112

#109 HMAN-443: Monitor failures with the Inbound Adapter
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/MessageSenderConfigurationIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/MessageSenderConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-109

#116 Fix hmc-hmi-inbound-adapter CVEs
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-116
