Repository hmcts/hmc-hmi-inbound-adapter, pull requests merged in 2022-04, with the labels that each got.

#40 Add secrets for S2S/IDAM to charts
  charts/hmc-hmi-inbound-adapter/Chart.yaml
  charts/hmc-hmi-inbound-adapter/values.preview.template.yaml
  charts/hmc-hmi-inbound-adapter/values.yaml
  src/main/resources/application.yaml
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-40

#44 Try state.tf from template
  infrastructure/state.tf
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-44

#45 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-45

#46 Add system user details to charts
  charts/hmc-hmi-inbound-adapter/Chart.yaml
  charts/hmc-hmi-inbound-adapter/values.preview.template.yaml
  charts/hmc-hmi-inbound-adapter/values.yaml
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-46

#41 Bump Spring Framework to 5.3.18
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-41

#47 Update key names for json payload for PUT /hearing (response)
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/Hearing.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingRoom.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingVenue.java
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-47

#42 HMAN-145: [PUT Hearing Response] add mandatory validation around field
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/controllers/HmcInboundControllerIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/Hearing.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingCaseStatus.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingDetailsRequest.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingStatus.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HmcInboundController.java
  src/main/java/uk/gov/hmcts/reform/hmc/exceptions/ValidationError.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-42

#48 --Adding the Suppression for Temporary fix.
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-48

#49 jackson.version update for CVE-2020-36518
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/WiremockFixtures.java
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-49

#58 HMAN-174 update Hearing code enum
  build.gradle
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingCaseStatus.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingCode.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/HearingCodeEnumPattern.java
  src/main/java/uk/gov/hmcts/reform/hmc/validator/HearingCodeEnumPatternValidator.java
  src/test/java/uk/gov/hmcts/reform/hmc/utils/TestingUtil.java
  src/test/java/uk/gov/hmcts/reform/hmc/validator/HearingCodeEnumPatternValidatorTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-58
