Repository hmcts/hmc-hmi-inbound-adapter, pull requests merged in 2024-11, with the labels that each got.

#197 CME-52
  .github/workflows/dependency-check.yml
  .github/workflows/swagger.yml
  .gitignore
  Dockerfile
  README.md
  acb.tpl.yaml
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/functionalTest/java/uk/gov/hmcts/reform/hmc/hmi/befta/InboundAdapterBeftaRunner.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/SwaggerPublisherTest.java
  src/main/java/uk/gov/hmcts/reform/hmc/client/model/hmi/HearingStatus.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/controllers/HmcInboundController.java
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-197

#199 CME-204
  .github/workflows/swagger.yml
  build.gradle
  src/main/java/uk/gov/hmcts/reform/hmc/config/SecurityConfiguration.java
Labels: ns:hmc, prd:hmc, enable_keep_helm, rel:hmc-hmi-inbound-adapter-pr-199

#200 tidy up on suppressions
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-200
