Repository hmcts/hmc-hmi-inbound-adapter, pull requests merged in 2024-08, with the labels that each got.

#191 enable fortify failure
  build.gradle
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-191

#194 bump servicebus to 1.0.6 to fix master
  charts/hmc-hmi-inbound-adapter/Chart.yaml
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-194

#193 Chart upgrades
  charts/hmc-hmi-inbound-adapter/Chart.yaml
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-inbound-adapter-pr-193
